.scaffolding-table-articles .field-type-title {
	margin: 2em 0 1em;
	font-size: 3em;
	font-weight: 100;
}

.scaffolding-table-articles .field-type-uid {
	margin: 1em 0;
}

.scaffolding-table-articles .field-type-published {
	margin: 1em 0;
}
